

body {
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    display: flex;
    padding: 0px;
    box-sizing: border-box;
    flex-direction: column;
    background-image: url(./15backgroud.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
}
.container {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    margin: auto;
    flex: 1; /* Grow to fill available space */
}
@keyframes colorchange {
    0% {
        color: #fe0759;
    }

    25% {
        color: #21f600;
    }


    75% {
        color: #ff0303;
    }

    100% {
        color: #0011fa;
    }
}

h1 {
    color: #ff4081;
    font-size: 30px;
    margin-bottom: 10px;
    animation: colorchange 4s infinite alternate;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: #ffff00;
    font-size: 20px;
    margin-bottom: 20px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    background-color: #07f5c53b;
    color: #ffffff;
    border: none;
    padding: 15px ;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 5px ;
    font-size: 20px;
   
}

button:hover {
    background: #2804f579;
}

.hearts {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    overflow: hidden;
    display: none;
}

.heart {
    position: absolute;
    bottom: -100px;
    width: 50px;
    height: 50px;
    background-color: #fc0808;
    transform: rotate(-45deg);
    animation: rise 5s infinite;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #f3060a;
    border-radius: 50%;
}

.heart:before {
    top: -25px;
    left: 0;
}

.heart:after {
    top: 0;
    left: 25px;
}

@keyframes rise {
    0% {
        transform: translateY(0) rotate(-45deg);
    }

    100% {
        transform: translateY(-150vh) rotate(-45deg);
    }
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* fotos */
.thumbnail-container {
    display: none;
    /* Inicialmente escondido */
    justify-content: center;
    flex-wrap: wrap;
 
}

.thumbnail {
  
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
}


@media (max-width: 400px) {
    .thumbnail {
        width: 60px;
        height: 60px;
        margin: 5px;
    }

    .close {
        font-size: 25px;
        right: 15px;
        top: 5px;
    }
}

footer {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    padding: 10px;
    flex-shrink: 0; /* Prevent shrinking */
  
}

footer p  {
font-family: 'Times New Roman', Times, serif;
    color: #000000;
    font-size: 15px;  
}

.social-icons {
    margin-top: -1em;
   
}

.social-icons a {
    color: #000000f0;
    font-size: 15px;
    margin: 0 10px;
    transition: color 0.3s;
    font-family: 'Times New Roman', Times, serif;

}

.social-icons a:hover {
    color: #f50606;
}

.clock {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 15px;
    animation: colorchange 4s infinite alternate;

   
}
 .abaixo{
color: #eeeeee;
 }
 .contato1{
    background-color: #07f5c53b;
   font-family: 'Times New Roman', Times, serif;
   box-sizing: border-box;
   background-attachment: fixed;
    background-size:100% 100%;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
 }
 .botao1{
    background-color: #f3f3f3eb;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    background-attachment: fixed;
     background-size:100% 100%;
     border-radius: 10px;
     width: 100%;
     text-align: center;
     padding: 10px;
     flex-shrink: 0;
     color: #000000;
     font-size: 17px;
 }
 .contato2{
    color: #fbfbfb;
 }